@import 'https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'; 
/* font-family:fredoka one,cursive;  */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* font-family: 'Poppins', sans-serif; */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(./assets/background-3.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

/* first screen section */ 

#choose-pet {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    color: white;
    font-family:fredoka one,cursive;
}

#choose-pet {
    margin: 150px auto;
    width: 50%;
}

.main-title{
    font-family:fredoka one,cursive;
    margin: 20px;  
    font-size: 58px;
}

.second-title {
    margin: 20px 20px 0px 20px;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

.cards {
    display: flex;
    gap: 12px;
    margin: 20px;
}

.mokepon-card {
    background-color: aliceblue;
    color: black;
    width: 180px;
    height: 100px;  
    padding: 10px; 
    box-sizing: border-box;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Roboto Mono', monospace;
}

.mokepon-card:hover {
    cursor: pointer;
}

input:checked + label{
    background-color: rgba(182, 239, 255, 0.982);
    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.3);
}

.mokepon-card img {
    width: 80px;
}

input {
    display: none;
}

#select-pet-button {
    background-color: transparent;
    border-radius: 20px;
    border: solid white;
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin: 20px;
    width: 180px;
    height: 40px;
}

#select-pet-button {
    cursor: pointer;
}

#select-pet-button:hover {
    background-color: rgba(182, 239, 255, 0.982);
    color: black;
    border-color: transparent;
}

/* canvas */

#see-map {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-title-canvas{
    font-family:fredoka one,cursive;
    margin: 20px;  
    font-size: 35px;
    color: white;
}

#map {
    border: 1px solid white;
}

/* second screen section */

#choose-attack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:fredoka one,cursive;
}

#choose-attack {
    margin: 150px auto;
    width: 50%;
}
 
.attack-button-section{
    display: flex;
    gap: 10px;
    margin: 20px;
}

.attack-buttons {
    background-color: aliceblue;
    border-color: transparent;
    border-radius: 20px;
    color: black;
    font-family: 'Roboto Mono', monospace;
    width: 150px;
    height: 40px;
}

#messages {
    width: 40%;
    background-color: aliceblue;
    color: black;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset-button {
    color: black;
    background-color: transparent;
    border: none;
    font-family: 'Roboto Mono', monospace;
    margin-top: 14px;
}

.attacks {
    display: grid;
    grid-template-columns: 100px 100px;
    margin: 20px;
}

.player-attack, .enemy-attack {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

/* Mobile */

@media (max-width: 568px) {
    .cards, .attack-button-section {
        flex-direction: column;
    }

    #choose-pet{
        width: 90%;
    }

    #choose-attack {
        width: 90%;
    }
}

/* tablet */

@media (max-width: 768px) {
    .cards, .attack-button-section {
        flex-direction: column;
    }

    #choose-pet{
        width: 90%;
    }

    #choose-attack {
        width: 80%;
    }
}

/* Laptop */
@media (max-width: 1024px) {
    #choose-pet{
        width: 90%;
    }
}